[packages]
pyjq = {editable = true, path = "."}

[dev-packages]
cython = ">=0.29.26"
twine = "*"
pytest = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
