[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjq = {editable = true, path = "."}

[dev-packages]
cython = "==0.19"
mock = "*"

[requires]
python_version = "3.6"
