[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyjq = {editable = true,path = "."}

[dev-packages]
cython = "*"
mock = "*"
twine = "*"

[requires]
python_version = "3.7"
